{% extends 'base.html' %}

{% block light %}

<h1 class="cover-heading">Hello Hue!</h1>

{% if elec == 'Power' %}
<p class="lead" id="on">Power is on 😍</p>
{% else %}
<p class="lead" id="off">There is no electricity at home at the moment Please try again later 😔</p>
{% endif %}

<p class="lead">
    <a href="/on" class="btn btn-lg btn-secondary">Lights on</a>
    <a href="/off" class="btn btn-lg btn-secondary">Lights off</a>

</p>

<form method="POST">
    <p class="lead">
        <div class="slidecontainer">
            <input type="range" min="1" max="254" value={{ value }} class="slider" id="myRange" name="brightness">
    <p>{{ percentage }}</p>
    <a class="btn btn-lg btn-secondary" href="javascript:$('form').submit()">Change Brightness</a>

    </div>
    </p>


    {% if status == 'on' %}
    <img src="/static/on.png" height="77" width="50" />
    {% else %}
    <img src="/static/off.png" height="77" width="50" />
    {% endif %}
</form>


{% endblock %}
