{% extends 'base.html' %}


{% block sensors %}

<p>TESTING NOW</p>
<!--<div class="flex-container" >-->
<!--    <canvas id="my pressure Chart" width="5" height="5"></canvas>-->
<!--    <canvas id="my temp Chart" width="5" height="5"></canvas>-->
<!--    <canvas id="my humidity Chart" width="5" height="5"></canvas>-->
<!--</div>-->

<div class="flex-container">
    <button id="1 hour">1 hour</button>
    <button id="3 hours">3 hours</button>
    <button id="7 hours">7 hours</button>

    <canvas id="my pressure Chart" width="5" height="5"></canvas>-->

</div>


<script type="text/javascript" src="/static/js/main.js"></script>

{% endblock %}



