{% extends 'base.html' %}


{% block sensors %}
<script></script>
    <div id="liveData">
        <p id="Light">Light intensity = {{ readings['lux'] }} lux </p>
        <p id="Ambient">Ambient temperature = {{ readings['ambient_temp'] }} ˚C</p>
        <p id="onboard">On_board temperature = {{ readings['on_board_temp'] }} ˚C</p>
        <p id="humidity">Humidity = {{ readings['humidity'] }} %</p>
        <p id="pressure">Pressure = {{ readings.pressure }} Pascal</p>

        {% if readings['motion'] == True %}
                <p id="motion"> Someone is in the room</p>
            {% else %}
                <p id="motion"> The room is empty</p>
            {% endif %}
    </div>

<script>
</script>

<canvas id="myChart" width="40" height="40"></canvas>


<script type="text/javascript" src="/static/js/main.js"></script>

{% endblock %}



